
$color-gray-100: #f0f0f0;
$color-gray-200: rgba(255, 255, 255, 0.65);
$color-gray-300: #999999;
$color-gray-400: #575757;
$color-gray-500: #e3e3e3;


$main-text-color-white: white;
$main-text-color-blue: #1677ff;
$main-text-color-black: #001529;


$home-header-height: 100px;

$fs-1: 15px;
$fs-2: 20px;
$fs-3: 28px;

$breakpoints: (
    "extra-large": 1200px,
    "large": 992px,
    "medium": 768px,
    "small": 576px,
);



